<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/promise_resolver.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="/about_page/about_page.html">
<link rel="import" href="/advanced_page/advanced_page.html">
<link rel="import" href="/basic_page/basic_page.html">
<link rel="import" href="/route.html">
<link rel="import" href="/settings_page/main_page_behavior.html">
<link rel="import" href="/settings_vars_css.html">

<dom-module id="settings-main">
  <template>
    <style>
      #advancedToggle {
        --paper-button: {
          text-transform: none;
        }
        @apply(--settings-actionable);
        align-items: center;
        display: flex;
        margin-bottom: 3px;
        margin-top: 12px;  /* Part of a 48px spacer (33px + 12px + 3px). */
        min-height: 32px;
        padding: 0 12px;
      }

      #overscroll {
        margin-top: 64px;
      }

      #toggleContainer {
        align-items: center;
        display: flex;
        font: inherit;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
      }

      #toggleSpacer {
        padding-top: 33px;  /* Part of a 48px spacer (33px + 12px + 3px). */
      }

      iron-icon {
        -webkit-margin-start: 16px;
      }

      #noSearchResults {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
      }

      #noSearchResults div:first-child {
        font-size: 120%;
        margin-bottom: 10px;
      }
    </style>
    <content select="paper-icon-button"></content>
    <div id="noSearchResults" hidden$="[[!showNoResultsFound_]]">
      <div>$i18n{searchNoResults}</div>
      <div>$i18nRaw{searchNoResultsHelp}</div>
    </div>
    <template is="dom-if" if="[[showBasicPage_(
        showPages_.basic, inSearchMode_, hasExpandedSection_)]]">
      <settings-basic-page prefs="{{prefs}}"
          page-visibility="[[pageVisibility]]"
          on-subpage-expand="onSubpageExpand_"
          on-freeze-scroll="onFreezeScroll_">
      </settings-basic-page>
    </template>
    <template is="dom-if"
        if="[[showAdvancedSettings_(pageVisibility.advancedSettings)]]">
      <template is="dom-if" if="[[showAdvancedToggle_(
          showPages_.basic, hasExpandedSection_, inSearchMode_)]]">
        <div id="toggleSpacer"></div>
        <h2 id="toggleContainer">
          <paper-button id="advancedToggle" active="{{advancedToggleExpanded}}"
              aria-active-attribute="aria-expanded" toggles>
            <span>$i18n{advancedPageTitle}</span>
            <iron-icon icon="[[arrowState_(advancedToggleExpanded)]]">
            </iron-icon>
          </paper-button>
        </h2>
      </template>
      <template is="dom-if" if="[[showAdvancedPage_(
          showPages_.advanced, inSearchMode_, hasExpandedSection_)]]">
        <settings-advanced-page prefs="{{prefs}}"
            page-visibility="[[pageVisibility]]"
            on-subpage-expand="onSubpageExpand_"
            on-freeze-scroll="onFreezeScroll_">
        </settings-advanced-page>
      </template>
    </template>
    <template is="dom-if" if="[[showPages_.about]]">
      <settings-about-page></settings-about-page>
    </template>
    <div id="overscroll" style="padding-bottom: [[overscroll_]]px"></div>
  </template>
  <script src="settings_main.js"></script>
  <script src="/search_settings.js"></script>
</dom-module>
