<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/icon.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button-light.html">
<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="/controls/settings_checkbox.html">
<link rel="import" href="/people_page/sync_page.html">
<link rel="import" href="/people_page/profile_info_browser_proxy.html">
<link rel="import" href="/people_page/sync_browser_proxy.html">
<link rel="import" href="/route.html">
<link rel="import" href="/settings_page/settings_animated_pages.html">
<link rel="import" href="/settings_page/settings_subpage.html">
<link rel="import" href="/settings_shared_css.html">

<if expr="chromeos">
<link rel="import" href="/people_page/change_picture.html">
<link rel="import" href="/people_page/easy_unlock_browser_proxy.html">
<link rel="import" href="/people_page/easy_unlock_turn_off_dialog.html">
<link rel="import" href="/people_page/lock_screen.html">
<link rel="import" href="/people_page/lock_state_behavior.html">
<link rel="import" href="/people_page/users_page.html">
</if>
<if expr="not chromeos">
<link rel="import" href="/people_page/manage_profile.html">
</if>

<dom-module id="settings-people-page">
  <template>
    <style include="settings-shared">
      setting-box.middle {
        /* Per spec, middle text is indented 20px in this section. */
        -webkit-margin-start: 20px;
      }

      #profile-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        flex-shrink: 0;
        height: 40px;
        width: 40px;
      }

      #managed-by-domain-name {
        font-weight: bold;
      }

      iron-icon[icon='settings:sync'] {
       --iron-icon-fill-color: var(--google-green-700);
      }

      #sync-status[actionable] iron-icon[icon='settings:sync-problem'] {
       --iron-icon-fill-color: var(--settings-error-color);
      }

      #sync-status:not([actionable]) .subpage-arrow {
        display: none;
      }

      .settings-box[actionable] .sync-error {
        color: var(--settings-error-color);
      }

      .icon-container {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        width: 40px;
      }

      #googleg-logo {
        background-image: url(../../../../../ui/webui/resources/images/200-logo_googleg.png);
        background-size: cover;
        height: var(--iron-icon-height);
        width: var(--iron-icon-width);
      }

      paper-checkbox {
        margin: 16px 0 2px;
      }
    </style>
    <settings-animated-pages id="pages" section="people">
      <neon-animatable route-path="default">
        <div id="picture-subpage-trigger" class="settings-box first two-line">
          <template is="dom-if" if="[[syncStatus]]">
            <div id="profile-icon" on-tap="onPictureTap_" actionable
                style="background-image: [[getIconImageset_(profileIconUrl_)]]">
            </div>
<if expr="not chromeos">
            <div class="middle two-line" on-tap="onProfileNameTap_" actionable>
</if>
<if expr="chromeos">
            <div class="middle two-line" on-tap="onPictureTap_" actionable>
</if>
              <div class="flex">
                <span id="profile-name">[[profileName_]]</span>
                <div class="secondary" hidden="[[!syncStatus.signedIn]]">
                  [[syncStatus.signedInUsername]]
                </div>
              </div>
              <button class="subpage-arrow" is="paper-icon-button-light">
              </button>
            </div>
<if expr="not chromeos">
            <template is="dom-if" if="[[showSignin_(syncStatus)]]">
              <span class="secondary-action">
                <paper-button class="primary-button" on-tap="onSigninTap_"
                    disabled="[[syncStatus.setupInProgress]]">
                  $i18n{syncSignin}
                </paper-button>
              </span>
            </template>
            <template is="dom-if" if="[[syncStatus.signedIn]]">
              <span class="secondary-action">
                <paper-button id="disconnectButton" class="secondary-button"
                    on-tap="onDisconnectTap_"
                    disabled="[[syncStatus.setupInProgress]]">
                  $i18n{syncDisconnect}
                </paper-button>
              </span>
            </template>
</if>
          </template>
        </div>
        <div class="settings-box two-line"
            hidden="[[!showSignin_(syncStatus)]]">
          <div>
            $i18n{syncOverview}
            <a target="_blank" href="$i18n{syncLearnMoreUrl}">
              $i18n{learnMore}
            </a>
          </div>
        </div>

<if expr="not chromeos">
        <template is="dom-if" if="[[syncStatus.domain]]">
          <div class="settings-box">
            <div class="icon-container">
              <iron-icon icon="cr:domain"></iron-icon>
            </div>
            <div class="middle"
                inner-h-t-m-l="[[getDomainHtml_(syncStatus.domain)]]">
            </div>
          </div>
        </template>
</if>

        <template is="dom-if"
            if="[[isAdvancedSyncSettingsVisible_(syncStatus)]]">
          <div class="settings-box two-line" on-tap="onSyncTap_"
              id="sync-status" actionable$="[[isSyncStatusActionable_(
              syncStatus)]]">
            <div class="icon-container">
              <iron-icon id="sync-icon" icon$="[[getSyncIcon_(syncStatus)]]">
              </iron-icon>
            </div>
            <div class="middle">
              <div>$i18n{sync}</div>
              <div class$="secondary [[getSyncStatusTextClass_(syncStatus)]]">
                [[syncStatus.statusText]]
              </div>
            </div>
            <button class="subpage-arrow" is="paper-icon-button-light"></button>
          </div>
        </template>

        <div class="settings-box two-line" id="activity-controls"
            on-tap="onActivityControlsTap_" actionable
            hidden="[[!syncStatus.signedIn]]">
          <div class="icon-container">
            <div id="googleg-logo"></div>
          </div>
          <div class="middle">
            <div>$i18n{personalizeGoogleServicesTitle}</div>
            <div class="secondary">$i18n{personalizeGoogleServicesText}</div>
          </div>
          <button class="icon-external" is="paper-icon-button-light"></button>
        </div>

<if expr="chromeos">
        <template is="dom-if" if="[[!quickUnlockEnabled_]]">
          <div class="settings-box single-column">
            <settings-checkbox pref="{{prefs.settings.enable_screen_lock}}"
                label="$i18n{enableScreenlock}">
            </settings-checkbox>
          </div>
        </template>

        <template is="dom-if" if="[[quickUnlockEnabled_]]">
          <div class="settings-box two-line" actionable
               on-tap="onConfigureLockTap_">
            <div class="middle">
              <div>$i18n{lockScreenTitle}</div>
              <div class="secondary">
                [[getPasswordState_(hasPin,
                                    prefs.settings.enable_screen_lock.value)]]
              </div>
            </div>
          </div>
        </template>

        <template is="dom-if" if="[[easyUnlockAllowed_]]">
          <div class="settings-box">
            <div class="middle">
              <div>$i18n{easyUnlockSectionTitle}</div>
              <div class="secondary">
                <template is="dom-if" if="[[!easyUnlockEnabled_]]">
                  $i18n{easyUnlockSetupIntro}
                </template>
                <template is="dom-if" if="[[easyUnlockEnabled_]]">
                  $i18n{easyUnlockDescription}
                </template>
                <a target="_blank" href$="$i18n{easyUnlockLearnMoreURL}">
                  $i18n{learnMore}
                </a>
                <template is="dom-if" if="[[easyUnlockEnabled_]]">
                  <template is="dom-if"
                      if="[[easyUnlockProximityDetectionAllowed_]]">
                    <settings-checkbox
                        pref="{{prefs.easy_unlock.proximity_required}}"
                        label="$i18n{easyUnlockRequireProximityLabel}">
                    </settings-checkbox>
                  </template>
                </template>
              </div>
            </div>
            <div class="secondary-action">
              <template is="dom-if" if="[[!easyUnlockEnabled_]]">
                <paper-button id="easyUnlockSetup" class="secondary-button"
                    on-tap="onEasyUnlockSetupTap_">
                  $i18n{easyUnlockSetupButton}
                </paper-button>
              </template>
              <template is="dom-if" if="[[easyUnlockEnabled_]]">
                <paper-button id="easyUnlockTurnOff" class="secondary-button"
                    on-tap="onEasyUnlockTurnOffTap_">
                  $i18n{easyUnlockTurnOffButton}
                </paper-button>
              </template>
            </div>
          </div>
        </template>
</if>

        <div id="manage-other-people-subpage-trigger"
            class="settings-box two-line" on-tap="onManageOtherPeople_"
            actionable>
          <div class="start">
            $i18n{manageOtherPeople}
            <div class="secondary">$i18n{manageOtherPeopleDescription}</div>
          </div>
          <button class="subpage-arrow" is="paper-icon-button-light"></button>
        </div>

        <template is="dom-if" if=[[profileManagesSupervisedUsers_]]>
          <div id="manageSupervisedUsersContainer" class="settings-box two-line"
              on-tap="onManageSupervisedUsers_" actionable>
            <div class="start">
              $i18n{manageSupervisedUsers}
              <div class="secondary">
                $i18n{manageSupervisedUsersDescription}
              </div>
            </div>
            <button class="icon-external" is="paper-icon-button-light"></button>
          </div>
        </template>
      </neon-animatable>
      <template is="dom-if" route-path="/syncSetup"
          no-search$="[[!isAdvancedSyncSettingsVisible_(syncStatus)]]">
        <settings-subpage
            associated-control="[[$$('#sync-status')]]"
            page-title="$i18n{syncPageTitle}"
            no-search$="[[!isAdvancedSyncSettingsVisible_(syncStatus)]]">
          <settings-sync-page></settings-sync-page>
        </settings-subpage>
      </template>
<if expr="chromeos">
      <template is="dom-if" if="[[quickUnlockEnabled_]]">
        <template is="dom-if" route-path="/lockScreen" no-search>
          <settings-subpage page-title="$i18n{lockScreenTitle}">
            <settings-lock-screen
              prefs="{{prefs}}">
            </settings-lock-screen>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/accounts">
        <settings-subpage
            associated-control="[[$$('#manage-other-people-subpage-trigger')]]"
            page-title="$i18n{usersPageTitle}">
          <settings-users-page prefs="{{prefs}}"></settings-users-page>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/changePicture">
        <settings-subpage
          associated-control="[[$$('#picture-subpage-trigger')]]"
          page-title="$i18n{changePictureTitle}">
          <settings-change-picture></settings-change-picture>
        </settings-subpage>
      </template>
</if>
<if expr="not chromeos">
      <template is="dom-if" route-path="/manageProfile">
        <settings-subpage
            associated-control="[[$$('#picture-subpage-trigger')]]"
            page-title="$i18n{editPerson}">
          <settings-manage-profile profile-icon-url="[[profileIconUrl_]]"
              profile-name="[[profileName_]]" sync-status="[[syncStatus]]">
          </settings-manage-profile>
        </settings-subpage>
      </template>
</if>
    </settings-animated-pages>

    <dialog is="cr-dialog" id="disconnectDialog" on-close="onDisconnectClosed_"
        ignore-popstate>
      <div class="title">$i18n{syncDisconnectTitle}</div>
      <div class="body">
        <div inner-h-t-m-l="[[getDisconnectExplanationHtml_(syncStatus.domain)]]">
        </div>
  <if expr="(not chromeos and is_posix) or is_win or is_macosx">
        <paper-checkbox id="deleteProfile" hidden=[[syncStatus.domain]]>
          $i18n{syncDisconnectDeleteProfile}
        </paper-checkbox>
  </if>
      </div>
      <div class="button-container">
        <paper-button on-tap="onDisconnectCancel_" class="cancel-button">
          $i18n{cancel}
        </paper-button>
        <paper-button id="disconnectConfirm" class="action-button"
            hidden=[[syncStatus.domain]] on-tap="onDisconnectConfirm_">
          $i18n{syncDisconnect}
        </paper-button>
        <paper-button id="disconnectManagedProfileConfirm" class="action-button"
            hidden=[[!syncStatus.domain]] on-tap="onDisconnectConfirm_">
          $i18n{syncDisconnectConfirm}
        </paper-button>
      </div>
    </dialog>

<if expr="chromeos">
    <template is="dom-if" if="[[easyUnlockEnabled_]]">
      <easy-unlock-turn-off-dialog id="easyUnlockTurnOffDialog">
      </easy-unlock-turn-off-dialog>
    </template>
</if>
  </template>
  <script src="people_page.js"></script>
</dom-module>
