<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_pref_behavior.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_pref_indicator.html">
<link rel="import" href="/controls/pref_control_behavior.html">

<dom-module id="settings-input">
  <template>
    <style>
      :host {
        -webkit-margin-start: 4px;
        cursor: auto;
        display: inline-block;
      }
    </style>
    <div id="outerDiv" class="layout horizontal center">
      <paper-input id="input" auto-validate value="{{value}}"
          error-message="[[errorMessage]]" label="[[label]]"
          no-label-float="[[noLabelFloat]]" pattern="[[pattern]]"
          readonly$="[[readonly]]" required="[[required]]" type="[[type]]"
          on-blur="onBlur_" disabled="[[isDisabled_(disabled, pref)]]"
          stop-keyboard-event-propagation$="[[stopKeyboardEventPropagation]]"
          tabindex$="[[getTabindex_(canTab)]]">
      </paper-input>
      <template is="dom-if" if="[[pref.policySource]]">
        <cr-policy-pref-indicator pref="[[pref]]"></cr-policy-pref-indicator>
      </template>
    </div>
  </template>
  <script src="settings_input.js"></script>
</dom-module>
