<link rel="import" href="chrome://resources/cr_elements/cr_action_menu/cr_action_menu.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/search_engines_page/search_engines_browser_proxy.html">
<link rel="import" href="/search_engines_page/search_engine_entry_css.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-omnibox-extension-entry">
  <template>
    <style include="settings-shared search-engine-entry">
      .name-column {
        flex: 3;
      }

      .keyword-column {
        flex: 7;
      }
    </style>
    <div class="list-item">
      <div class="name-column">
        <span class="favicon-image"
            style="background-image: [[getIconSet_(engine.iconURL)]]"></span>
        <span class="name">[[engine.displayName]]</span>
      </div>
      <div class="keyword-column">[[engine.keyword]]</div>
      <paper-icon-button icon="cr:more-vert" tabindex$="[[tabindex]]"
          on-tap="onDotsTap_">
      </paper-icon-button>
      <dialog is="cr-action-menu">
        <button class="dropdown-item" role="option" on-tap="onManageTap_"
            id="manage">
          $i18n{searchEnginesManageExtension}
        </button>
        <button class="dropdown-item" role="option" on-tap="onDisableTap_"
            id="disable">
          $i18n{disable}
        </button>
      </dialog>
    </div>
  </template>
  <script src="omnibox_extension_entry.js"></script>
</dom-module>
