<dom-module id="search-engine-entry">
  <template>
    <style>
      .favicon-image {
        -webkit-margin-end: 8px;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 20px;
      }

      .name {
        margin: auto;
      }

      .dropdown-content {
        background: white;
        box-shadow: 0 2px 6px grey;
      }

      paper-icon-button {
        -webkit-padding-end: 0;
      }
    </style>
  </template>
</dom-module>
