<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-selector/iron-selector.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-ripple/paper-ripple.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/typography.html">
<link rel="import" href="chrome://history/browser_service.html">
<link rel="import" href="chrome://history/shared_style.html">

<dom-module id="history-side-bar">
  <template>
    <style include="shared-style">
      :host {
        display: flex;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        width: var(--side-bar-width);
      }

      :host([drawer]) {
        height: calc(100% - var(--toolbar-height));
      }

      div.separator {
        background-color: rgba(0, 0, 0, 0.08);
        flex-shrink: 0;
        height: 1px;
        margin: 8px 0;
      }

      #clear-browsing-data {
        justify-content: space-between;
      }

      #clear-browsing-data iron-icon {
        -webkit-margin-end: 24px;
        color: var(--paper-grey-400);
        height: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 20px;
      }

      iron-selector {
        -webkit-user-select: none;
        background-color: transparent;
        color: #5a5a5a;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-top: 8px;
      }

      iron-selector > a {
        @apply(--paper-font-subhead);
        -webkit-padding-start: 24px;
        align-items: center;
        box-sizing: border-box;
        color: inherit;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        min-height: 48px;
        position: relative;
        text-decoration: none;
      }

      iron-selector > a.iron-selected {
        color: var(--google-blue-500);
      }

      #spacer {
        flex: 1;
      }

      #footer {
        color: var(--paper-grey-600);
        width: var(--side-bar-width);
      }

      #footer-text {
        -webkit-padding-end: 16px;
        -webkit-padding-start: 24px;
        line-height: 20px;
        margin: 24px 0;
      }

      #footer a {
        color: var(--google-blue-700);
        text-decoration: none;
      }
    </style>

    <iron-selector id="menu" selected="{{selectedPage}}"
        selectable=".page-item" attr-for-selected="path"
        fallback-selection="history"
        on-iron-activate="onSelectorActivate_">
      <a href="/" class="page-item" path="history" on-click="onItemClick_">
        $i18n{historyMenuItem}
        <paper-ripple></paper-ripple>
      </a>
      <a href="/syncedTabs" class="page-item" path="syncedTabs"
          on-click="onItemClick_">
        $i18n{openTabsMenuItem}
        <paper-ripple></paper-ripple>
      </a>
      <div class="separator"></div>
      <a href="chrome://settings/clearBrowserData"
          on-tap="onClearBrowsingDataTap_" id="clear-browsing-data">
        $i18n{clearBrowsingData}
        <iron-icon icon="cr:open-in-new"></iron-icon>
        <paper-ripple id="cbd-ripple"></paper-ripple>
      </a>
      <div id="spacer"></div>
      <div id="footer" hidden="[[!showFooter]]">
        <div class="separator"></div>
        <div id="footer-text">$i18nRaw{sidebarFooter}</div>
      </div>
    </iron-selector>
  </template>
  <script src="chrome://history/side_bar.js"></script>
</dom-module>
