<link rel="import" href="chrome://resources/cr_elements/network/cr_onc_types.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_network_behavior.html">
<link rel="import" href="chrome://resources/cr_elements/policy/cr_policy_network_indicator.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input-container.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="/md_select_css.html">
<link rel="import" href="internet_shared_css.html">
<link rel="import" href="network_proxy_exclusions.html">
<link rel="import" href="network_proxy_input.html">

<dom-module id="network-proxy">
  <template>
    <style include="internet-shared md-select">
      cr-policy-network-indicator {
        -webkit-margin-end: 10px;
      }

      network-proxy-input {
        margin-bottom: 10px;
      }

      /* Use .middle spacing but no flex. */
      .settings-box .middle {
        flex: none;
      }

      #exceptionsDiv {
        padding: 10px 0;
      }

      #exceptionsDiv network-proxy-exclusions {
        margin: 10px 0;
      }

      #proxyDiv paper-checkbox {
        padding: 10px 0;
      }
    </style>
    <!-- Policy indicator -->
    <div class="settings-box first single-column"
        hidden$="[[!isNetworkPolicyControlled(
                 networkProperties.ProxySettings.Type)]]">
      <div class="layout horizontal center">
        <cr-policy-network-indicator
            property="[[networkProperties.ProxySettings.Type]]">
        </cr-policy-network-indicator>
        <div>$i18n{networkProxyEnforced}</div>
      </div>
    </div>

    <!-- Proxy type dropdown -->
    <div class="settings-box continuation">
      <div class="start">$i18n{networkProxyConnectionType}</div>
      <div class="md-select-wrapper">
        <select id="proxyType" class="md-select" on-change="onTypeChange_"
            value="[[proxy.Type]]">
          <template is="dom-repeat" items="[[proxyTypes_]]">
            <option value="[[item]]">[[proxyTypeDesc_(item)]]</option>
          </template>
        </select>
        <span class="md-select-underline"></span>
      </div>
    </div>

    <!-- Autoconfiguration (PAC) -->
    <div class="settings-box continuation"
        hidden$="[[!matches_(proxy.Type, ProxySettingsType_.PAC)]]">
      <div>$i18n{networkProxyAutoConfig}</div>
      <paper-input no-label-float class="middle" value="{{proxy.PAC}}"
          disabled="[[isNetworkPolicyEnforced(
                    networkProperties.ProxySettings.PAC)]]"
          on-blur="onProxyInputChange_">
      </paper-input>
    </div>

    <!-- Web Proxy Auto Discovery (WPAD) -->
    <div class="settings-box continuation"
        hidden$="[[!matches_(proxy.Type, ProxySettingsType_.WPAD)]]">
      <div>$i18n{networkSectionWpad}</div>
      <div class="middle">[[WPAD]]</div>
    </div>

    <!-- Manual -->
    <div id="proxyDiv" class="settings-box continuation single-column"
        hidden$="[[!matches_(proxy.Type, ProxySettingsType_.MANUAL)]]">
      <paper-checkbox checked="{{useSameProxy_}}">
        $i18n{networkProxyUseSame}
      </paper-checkbox>
      <div hidden$="[[!useSameProxy_]]" class="layout vertical">
        <network-proxy-input 
            on-proxy-change="onProxyInputChange_"
            editable="[[isPropertyEditable_(editable, networkProperties,
                      'ProxySettings.Manual.HTTPProxy')]]"
            value="{{proxy.Manual.HTTPProxy}}"
            label="$i18n{networkProxy}">
        </network-proxy-input>
      </div>
      <div hidden$="[[useSameProxy_]]" class="layout vertical">
        <network-proxy-input
            on-proxy-change="onProxyInputChange_"
            editable="[[isPropertyEditable_(editable, networkProperties,
                      'ProxySettings.Manual.HTTPProxy)')]]"
            value="{{proxy.Manual.HTTPProxy}}"
            label="$i18n{networkProxyHttp}">
        </network-proxy-input>
        <network-proxy-input
            on-proxy-change="onProxyInputChange_"
            editable="[[isPropertyEditable_(editable, networkProperties,
                      'ProxySettings.Manual.SecureHTTPProxy)')]]"
            value="{{proxy.Manual.SecureHTTPProxy}}"
            label="$i18n{networkProxyShttp}">
        </network-proxy-input>
        <network-proxy-input
            on-proxy-change="onProxyInputChange_"
            editable="[[isPropertyEditable_(editable, networkProperties,
                      'ProxySettings.Manual.FTPProxy)')]]"
            value="{{proxy.Manual.FTPProxy}}"
            label="$i18n{networkProxyFtp}">
        </network-proxy-input>
        <network-proxy-input
            on-proxy-change="onProxyInputChange_"
            editable="[[isPropertyEditable_(editable, networkProperties,
                      'ProxySettings.Manual.SOCKS)')]]"
            value="{{proxy.Manual.SOCKS}}"
            label="$i18n{networkProxySocks}">
        </network-proxy-input>
      </div>

      <div id="exceptionsDiv">
        <div>$i18n{networkProxyExceptionList}</div>
        <network-proxy-exclusions on-proxy-change="onProxyExclusionsChange_"
            exclusions="{{proxy.ExcludeDomains}}">
        </network-proxy-exclusions>
        <div class="layout horizontal">
          <paper-input-container no-label-float class="flex">
            <input id="proxyExclusion" is="iron-input">
          </paper-input-container>
          <paper-button on-tap="onAddProxyExclusionTap_">
            $i18n{networkProxyAddException}
          </paper-button>
        </div>
      </div>
    </div>
  </template>
  <script src="network_proxy.js"></script>
</dom-module>
