<link rel="import" href="chrome://resources/html/polymer.html">

<dom-module id="cr-action-menu">
  <template>
    <style>
      :host {
        background-color: white;
        border: none;
        box-shadow: 0 2px 6px var(--paper-grey-500);
        margin: 0;
        outline: none;
        padding: 0;
      }

      :host::backdrop {
        background-color: transparent;
      }
    </style>
    <content select=".dropdown-item,hr"></content>
  </template>
  <script src="cr_action_menu.js"></script>
</dom-module>
