<link rel="import" href="chrome://resources/cr_elements/cr_action_menu/cr_action_menu.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/route.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/site_settings/add_site_dialog.html">
<link rel="import" href="/site_settings/constants.html">
<link rel="import" href="/site_settings/site_settings_behavior.html">
<link rel="import" href="/site_settings/site_settings_prefs_browser_proxy.html">

<dom-module id="site-list">
  <template>
    <style include="settings-shared">
      paper-button {
        margin-top: 12px;  /* Align with <h2>. */
      }

      paper-icon-button {
        left: 8px;
        right: 8px;
      }

      .selectable {
        -webkit-user-select: text;
      }
    </style>
    <div id="category" hidden>
      <div class="settings-box first" hidden$="[[allSites]]">
        <h2 class="start">[[categoryHeader]]</h2>
        <paper-button class="secondary-button" id="icon" on-tap="onAddSiteTap_">
          $i18n{add}
        </paper-button>
      </div>

      <dialog is="cr-action-menu">
        <button class="dropdown-item" role="option" id="allow"
            on-tap="onAllowTap_" hidden$="[[!showAllowAction_]]">
          $i18n{siteSettingsActionAllow}
        </button>
        <button class="dropdown-item" role="option" id="block"
            on-tap="onBlockTap_" hidden$="[[!showBlockAction_]]">
          $i18n{siteSettingsActionBlock}
        </button>
        <button class="dropdown-item" role="option" id="sessionOnly"
            on-tap="onSessionOnlyTap_"
            hidden$="[[!showSessionOnlyActionForSite_(actionMenuSite_)]]">
          $i18n{siteSettingsActionSessionOnly}
        </button>
        <button class="dropdown-item" role="option" id="reset"
            on-tap="onResetTap_">
          $i18n{siteSettingsActionReset}
        </button>
      </dialog>

      <div class="list-frame menu-content vertical-list" id="listContainer">
        <template is="dom-repeat" items="[[sites]]">
          <div class="list-item">
            <div class="start layout horizontal center" on-tap="onOriginTap_"
                actionable$="[[enableSiteSettings_]]">
              <div class="favicon-image"
                  style$="[[computeSiteIcon(item.originForDisplay)]]">
              </div>
              <div class="middle">
                <div class="selectable">[[item.originForDisplay]]</div>

                <!-- This div must not contain extra whitespace. -->
                <div class="selectable secondary"
                    >[[computeSiteDescription_(item)]]</div>
              </div>
            </div>

            <template is="dom-if" if="[[!!computeIconControlledBy_(item)]]">
              <iron-icon icon="[[computeIconControlledBy_(item)]]"></iron-icon>
            </template>

            <paper-icon-button id="dots" icon="cr:more-vert"
                hidden="[[isExceptionControlled_(item.source)]]"
                on-tap="onShowActionMenuTap_">
            </paper-icon-button>
            <template is="dom-if" if="[[enableSiteSettings_]]">
              <div on-tap="onOriginTap_" actionable>
                <button class="subpage-arrow" is="paper-icon-button-light">
                </button>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </template>
  <script src="site_list.js"></script>
</dom-module>
