/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-500);
  text-decoration: none;
}

#crosEulaFrame,
#installationSettings,
#logging {
  font: 13px Roboto, sans-serif;
  margin: 0 20px;
}

#installationSettings {
  padding-top: 31px; /* = 44 - font size */
}

#logging {
  color: rgba(0, 0, 0, 0.54);
  padding-top: 21px; /* = 36 - font size */
}

#usageStats {
  --paper-checkbox-size: 16px;
  /* End padding must be greater than --paper-checkbox-label-spacing */
  -webkit-padding-end: 16px;
  max-width: 550px;
  padding-bottom: 20px;
}

#accept-button-text {
  text-transform: uppercase;
}
